/* .dashboard {
    margin-
} */

.TableBox {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 40px;
}

.TableHeader  {
   background-color: #efefef;
}

.TableHeader__row {
    font-weight: 600;
}